@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Bangers', cursive; */

nav {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}

.brand {
  font-family: "Bangers", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  padding: 0 0;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid black;
}
